<% if obj.errors.any? %>
  <div class="card mt-2 p-3" style="background-color: #F9ACAC">
    <div class="card-heading">
      <h4 class="card-title">
        <%= pluralize(obj.errors.count, "error")%>
        prevented the article from being saved :
      </h4>
      <div class="card-body">
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
