<h3 class="display-4 text-center mt-5">About</h3>
   <div class="container mt-5">
     <div class="d-flex justify-content-center">
     <div class="card mb-3" style="max-width: 640px">
       <div class="row no-gutters">
         <div class="col-md-4">
           <%= image_tag("me.jpg", class: "card-img-top") %>
         </div>
         <div class="col-md-8">
           <div class="card-body">
             <p class="card-text text-muted" style="font-weight:500;font-size:18px">Greetings!! everyone my name is Deepak Mahajan, I am the creator of this website.
                     Currently I am pursuing my B.tech degree and have developed this website with Ruby-On-Rails Framework.
                     I hope you like it.Thanks!! <i class="fas fa-thumbs-up"></i></p>
             <p class="card-text" style="font-weight:500;font-size:18px;color:#1F78A9;">Github link for other projects: </p>
             <a style="font-size:18px; color:black;font-weight:500" href="https://github.com/deepakMaj">https://github.com/deepakMaj</a>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
