<h1 align="center" class="display-4 mt-4">Listing all Categories</h1>
<div align="center" class="container mt-4">
  <% @categories.each do |category|%>
    <ul class="card p-2 listing" style="width: 50%;">
      <div class="d-flex justify-content-center">
        <li class="article-title">
         <%= link_to "#{category.name}", category_path(category)%>
        </li>
        </div>
        <li><small><%= pluralize(category.articles.count, "article")%></small></li>
    </ul>
  <% end %>
  <div class="d-flex pagination justify-content-center">
    <%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
