<h1 align="center" class="display-4 mt-4"><%= "Category: " + @category.name %></h1>
<div align="center" class="container mt-4">
  <% if logged_in? and current_user.admin? %>
  <div class="row">
    <span class="badge">
      <%= link_to "Edit category", edit_category_path(@category) %>
    </span>
  </div>
  <% end %>
</div>
<hr>
<%= render 'articles/article', obj: @category_articles %>
<div class="d-flex justify-content-center">
  <%= will_paginate @category_articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
