<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Deep Technology</a>
      by <a href="#">Deepak Mahajan</a>
    </small>
    <p class="text-right"><%= link_to "About", about_path %></p>
  </footer>
</div>
