<!-- <footer class="footer">
  <small class="ml-3">
    Copyright &copy; <a href="#">Deep Technology</a>
    by <a href="#">Deepak Mahajan</a>
  </small>
  <p class="text-right mr-4"><%= link_to "About", about_path %></p>
</footer> -->
<body class="d-flex flex-column">
  <div id="page-content">
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small class="ml-3">
        Copyright &copy; <a href="#">Deep Technology</a>
        by <a href="#">Deepak Mahajan</a>
      </small>
    </div>
  </footer>
</body>
